# Python
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
ENV/
build/
dist/
*.egg-info/
.python-version

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/
.DS_Store

# VS Code
.vscode/
